.advanced-pricing{
    display: flex;
    flex-direction: column;
    align-items:center;
}


.price-info{
    font-weight: 600;
    color:rgba(4, 15, 36, 1);
    font-size: 47px;
    line-height: 50px;
    letter-spacing: -2%;
    text-align: center;
}
.graph-section img{
    height:533px;
}