.pricing{
   display:flex;
    flex-direction: column;
    align-items:center;
    margin: 120px 0;
    border:2px solid lime;
}

.price-info{
    font-weight: 600;
    color:rgba(4, 15, 36, 1);
    font-size: 47px;
    line-height: 50px;
    letter-spacing: -2%;
    text-align: center;
    margin: 45px 0;
}

.pricing-table{
    display:flex;
    justify-content: center;
}

/*.table-title, .table-percent h3{
font-weight: 700;
font-size: 37px;
letter-spacing: 2%;
color: rgba(255, 255, 255, 1);
text-align: center;
padding:32px 100px;
margin-bottom: 2px;
}
.table-percent h3 {
    padding-bottom: 0;
}
.table-percent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;

}
.essentials >.table-title{
 background-color: rgba(24, 144, 255, 1);
 border-radius: 10px 0 0 0;
}

.advanced >.table-title{
    background-color: rgba(86, 174, 255, 1);
   }
.automation >.table-title{
    background-color: rgba(116, 188, 255, 1);
    border-radius: 0 10px 0 0;

   }

   .essentials >.table-percent{
    background-color: rgba(24, 144, 255, 0.5);
    
   }
   
   .advanced >.table-percent{
       background-color: rgba(86, 174, 255, 1);
      }
   .automation >.table-percent{
       background-color: rgba(116, 188, 255, 1);
   
      }

small{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 2%;
    padding-bottom: 22px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 1);

}


   .essentials-section p{
   
    display:flex;
    justify-content: center;
    color:rgba(11, 36, 66, 1);
    flex-wrap:wrap;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 37px 0;
    background-color: rgba(220, 238, 255, 1);
    
   }
.advanced-section p{
    display:flex;
    justify-content: center;
    color:rgba(11, 36, 66, 1);
    flex-wrap:wrap;
    font-size: 27px;
    font-weight: 600;
       background-color: rgba(204, 231, 255, 1);
       margin-bottom: 2px;
       padding: 37px 0;

      }
.auto-section p{
    display:flex;
    justify-content: center;
    color:rgba(11, 36, 66, 1);
    flex-wrap:wrap;
    font-size: 27px;
    font-weight: 600;
       background-color: rgba(213, 235, 255, 1);
       margin-bottom: 2px;
       padding: 37px 0;
    }
*/

/*
  .price-details{
display:flex;
flex-direction:column;
align-items: center;
  }*/

/*testing css*/

.row1{
    background-color:rgba(220, 238, 255, 1)!important;

   
}
.row2{
    background-color: rgba(204, 231, 255, 1)!important;
  
}

.row3{
    background-color: rgba(213, 235, 255, 1)!important;
   
}

.common{
    color:rgba(11, 36, 66, 1)!important;
    font-size: 27px!important;
    font-weight: 600!important;
    margin-bottom: 2px!important;
    padding: 23px 15px!important;
}

.essential{
    background-color: rgba(24, 144, 255, 1)!important;
    border-radius: 10px 0 0 0;
}

.advance{
    background-color: rgba(86, 174, 255, 1)!important;

}

.automate{
    background-color: rgba(116, 188, 255, 1)!important;
    border-radius:0 10px 0 0;
}

.col, .col1, .row1, .row2, .row3{
height:101px!important;
border-bottom: 2px solid white!important;
line-height: 100%!important;

}

.border-bottom-radius{
    border-radius: 0 0 10px 0!important;

}

.border-end-radius{
    border-radius: 0 0 0 10px!important;
}

.col, .col1{
    letter-spacing: 2%!important;
    font-weight: 700!important;
    color:#ffffff!important;
  /*  padding: 37px 15px!important;*/
    font-size: 37px!important;
    height:101px!important;

}

.ess-percent{
    background-color: rgba(24, 144, 255, 0.5)!important;

}
.ess-percent h3, .add-percent h3, .auto-percent h3{
    margin:0px!important;
    padding:0px!important;
    line-height: 100%!important;;
}
/*text*/

.add-percent{
    background-color: rgba(170, 214, 255, 1)!important;

}

.auto-percent{
 background-color: rgba(185, 221, 255, 1)!important;
}
.col1 p{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 2%;
    padding-bottom: 22px;
    color: rgba(255, 255, 255, 1);
    padding-top:0!important;
    margin:0!important;
    padding:0!important;
    line-height: 100%;;

}